@import '~antd/dist/antd.css';

.App {
  margin: 10px 0;
}

textarea.code-input {
  resize: none;
  min-height: 100px;
  margin-bottom: 15px;
}

.title {
  margin-top: 10px;
}

.alarm-card {
  margin-top: 20px;
}